@model IEnumerable<MVCDemo.Models.Member>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<p>@Html.ActionLink("Logout", "Logout")</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modal => modal.Id)
            </th>
            <th>
                @Html.DisplayNameFor(modal => modal.Name)
            </th>
            <th>
                @Html.DisplayNameFor(modal => modal.Address)
            </th>
            <th>
                @Html.DisplayNameFor(modal => modal.Age)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Id)*@
                    @item.Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id },new { onclick="return confirm('Are you sure, you want to delete?')" })
                </td>
            </tr>
        }
    </tbody>
</table>